/* Styles for custom components */

/* -- Section component styles -- */
[data-component="section"] {
    border: var(--border-size-thick) solid var(--color-secondary);
    border-radius: var(--border-radius);
}

[data-component="section"] > header {
    background-color: var(--color-secondary);
    padding: 2px 5px;
}

[data-component="section"] > footer {
    background-color: var(--color-secondary);
    padding: 1px 1px;
}
/* -- End Section component styles -- */

[data-widget="menu-toggle"] {
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-widget="menu-toggle"]:hover {
    background-color: rgba(var(--color-secondary-rgb), 0.4);
}
