@layer footer {
    [data-component="desktop_footer"] {
        grid-area: footer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg-surface);

        & > .container {
            flex: 0 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            & > button {
                background-color: transparent;
                height: calc(var(--footer-height) - 4px);
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &[data-status="active"] {
                    color: var(--color-primary);
                }
            }

            &.center {
                flex: 1 1 auto;
            }
        }
    }
}
